<!-- templates/benefits.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center mb-5">How to apply for benefits and help in SF:</h1> 


{% comment %} <img src="{% static 'img/utils/construction-strip.gif' %}" class="img-fluid" style="width: 100%;" />
<div>
    <img src="{% static 'img/utils/under-construction.gif' %}" class="img-fluid" style="width: 25%; float: left;" />
    <img src="{% static 'img/utils/under-construction-sign.gif' %}" class="img-fluid mt-5 pt-4" style="width: 50%" />
    <img src="{% static 'img/utils/under-construction.gif' %}" class="img-fluid" style="width: 25%; float: right;" />
</div>
<img src="{% static 'img/utils/construction-strip.gif' %}" class="img-fluid mb-5" style="width: 100%;" /> {% endcomment %}

{% comment %}Note for developers: to avoid redundancies please review info before plugging it into the database, {% endcomment %}

<div>
    <h2>Food Stamps (CalFresh)</h2>
    <a href="https://www.sfhsa.org/services/health-food/calfresh/applying-calfresh">Apply For Calfresh</a>
    <ul>
        <li>Online at GetCalFresh (English | Español)</li>
        <li>By phone at (415) 558-4700 to get your application started or for more information. You can also schedule an appointment for application assistance at 2EnrollMeSF.org.</li>
        <li>By fax at (415) 355-2300</li>
        <li>By mail at City and County of San Francisco, Department of Human Services, P.O. Box 7988, San Francisco, CA 94120-7988</li>
    </ul>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
    <h2>CAAP (Welfare)</h2>
    CAAP provides up to $588 a month and other benefits for services including employment training and placement, free MUNI pass, and counseling.
    <a href="https://www.sfhsa.org/services/jobs-money/county-adult-assistance-programs-caap">county-adult-assistance-programs-caap</a>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
    <h2>Medi-Cal</h2>
    <a href="https://www.sfhsa.org/services/health-food/medi-cal">Aply For Medi-Cal</a>
    <p>On sfhsa’s Medi-Cal portal you can:</p>
        <ul>
            <li>Check Your Medi-Cal Eligibility</li>
            <li>Apply for Medi-Cal</li>
            <li>Select a Medi-Cal Health Care Plan</li>
            <li>Renew Your Medi-Cal Coverage</li>
        </ul>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
    <a href="https://www.sfhsa.org/services/jobs-money/calworks/applying-calworks">Apply For Calworks</a>
    <p>
    <strong>CalWORKs</strong> provides temporary assistance and support to families with (or expecting) children. Benefits include cash assistance, food, child care, and health care coverage. CalWORKs also provides job and education assistance and other services, even after leaving the program.
    </p>

    <p>How to apply</p>
    <p><strong>By phone: Call (415) 557-5100.</strong></p>
    <p><strong>Online: Visit us at <a href="www.MyBenefitsCalWIN.org">MyBenefitsCalWIN.org</a>.</strong></p>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
    <h2>Free and Discounted Benefits for HSA Program Recipients</h2>
    <a href="https://www.sfhsa.org/free-or-discounted-services-and-hsa-program-recipients#legal">Apply For HSA Program</a>
    Take advantage of the many free or discounted services available throughout the City to HSA recipients. In most cases, you'll just need to show your EBT card to get your discount or fee waiver. Free or discounted services on this page:
    <ul>
        <li><a href="https://www.sfhsa.org/free-or-discounted-services-hsa-program-recipients#diapers">Free Diapers</a></li>
        <li><a href="https://www.sfhsa.org/free-or-discounted-services-hsa-program-recipients#food">Food, Meals + Entertainment</a></li>
        <li><a href="https://www.sfhsa.org/free-or-discounted-services-hsa-program-recipients#legal">Legal + Identification</a></li>
        <li><a href="https://www.sfhsa.org/free-or-discounted-services-hsa-program-recipients#museums">Museums + Recreation</a></li>
        <li><a href="https://www.sfhsa.org/free-or-discounted-services-hsa-program-recipients#transport">Transportation</a></li>
        <li><a href="https://www.sfhsa.org/free-or-discounted-services-hsa-program-recipients#utilities">Utilities</a></li>
    </ul>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
    <h2>File for Unemployment Benefits in CA online:</h2>
    <a href="https://edd.ca.gov/Unemployment/Filing_a_Claim.html">File an Unemployment Claim</a> or
    <strong>By phone from 8am to 12pm 1-800-300-5616</strong>
    <br>You will need to provide your personal information and your:
    <ul>
        <li>Last employer information including company name, supervisor’s name, address (mailing and physical location) and phone number.</li>
        <li>Last date worked and the reason you are no longer working.</li>
        <li>Gross earnings in the last week you worked, beginning with Sunday and ending with your last day of work.</li>
        <li>Information on all employers you worked for during the past 18 months, including name, address (mailing and physical location), the dates of employment, gross wages earned, hours worked per week, hourly rate of pay, and the reason you are no longer working.
        <li>Notice to Federal Employees About Unemployment Insurance, Standard Form 8 (former federal employees only).</li>
        <li>DD 214 Member 4 copy (ex-military only).</li>
        <li>Citizenship status, and, if you are not a US citizen, information from your employment authorization document.</li>
    </ul>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
    <h2>How To Apply for Disability in California</h2>
    Consult this <a href="https://www.ssa.gov/hlp/radr/10/ovw001-checklist.pdf">Checklist</a> to find out exactly what you’ll need:
    <ol>
        <li>Apply for Disability <a href="https://www.ssa.gov/benefits/disability/">online</a> at the SSA's website</li>
            You can use the online application to apply for disability benefits if you:
            <ul>
                <li>Are age 18 or older.</li>
                <li>Are not currently receiving benefits on your own Social Security record.</li>
                <li>Are unable to work because of a medical condition that is expected to last at least 12 months or result in death; and</li>
                <li>Have not been denied for disability in the last 60 days</li>
            </ul>
            <strong>Note</strong>: If your application was recently denied, our <a href="https://www.ssa.gov/benefits/disability/appeal.html">Internet Appeal application</a> is a starting point to request a review of the determination we made.
        <li>telephone by calling the SSA's customer service: 1-800-772-1213,</li>
        <li>or in-person at their local Social Security field office.</li>
    </ol>

    You can now also file for <strong>Supplemental Security Income (SSI)</strong> online but only if you:
    <ul>
        <li>Are between the ages of 18 and 65.</li>
        <li>Have never been married.</li>
        <li>Are a U.S. citizen residing in one of the fifty states, District of Columbia, or the Northern Mariana Islands.</li>
        <li>Haven’t applied for or received SSI benefits in the past; and</li>
        <li>Are applying for Social Security Disability Insurance at the same time as your SSI claim.</li>
    </ul>

    Note that <strong>getting approved for long-term permanent Disability and SSI is a long and frustrating process</strong>;
    <br>
    Long as in it often takes years to get approved from the day you first applied. The general rule is that they deny pretty much everyone the first time they apply, and make you appeal. It might be a good idea to find a disability lawyer. They usually will take their fees from the settlement if/when they win your case. 
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />


{% endblock %}