<!-- templates/shelter_info.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center mb-5">Legal Help In SF</h1>

<div>
    Bay Area Legal Aid - Working Together for Justice | Home Page - <a href="https://baylegal.org/">baylegal.org</a>
    LEGAL ADVICE LINE - 800-551-5554
    1800 Market Street, 3rd Floor, San Francisco, CA 94102 Local #: (415) 982-1300
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
    The Bar Association of San Francisco Lawyer Referral and Information Services: <a href="https://www.sfbar.org/lris/online-referral/">https://www.sfbar.org/lris/online-referral/</a>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<a href="https://www.aclu.org/know-your-rights/stopped-by-police/">Know Your Rights Stopped by Police by ACLU.org</a>


{% endblock %}