<!-- templates/shelter_info.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center mb-5">Health Resources</h1>


<img src="{% static 'img/utils/construction-strip.gif' %}" class="img-fluid" style="width: 100%;" />
<div>
    <img src="{% static 'img/utils/under-construction.gif' %}" class="img-fluid" style="width: 25%; float: left;" />
    <img src="{% static 'img/utils/under-construction-sign.gif' %}" class="img-fluid mt-5 pt-4" style="width: 50%" />
    <img src="{% static 'img/utils/under-construction.gif' %}" class="img-fluid" style="width: 25%; float: right;" />
</div>
<img src="{% static 'img/utils/construction-strip.gif' %}" class="img-fluid mb-5" style="width: 100%;" />

<h1 class="text-center mb-5">Other content will be here!</h1>


{% endblock %}