<!-- templates/benefits.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<img src="{% static 'img/utils/construction-strip.gif' %}" class="img-fluid" style="width: 100%;" />
<div>
    <img src="{% static 'img/utils/under-construction.gif' %}" class="img-fluid" style="width: 25%; float: left;" />
    <img src="{% static 'img/utils/under-construction-sign.gif' %}" class="img-fluid" style="width: 50%; margin-top: auto;" />
    <img src="{% static 'img/utils/under-construction.gif' %}" class="img-fluid" style="width: 25%; float: right;" />
</div>
<img src="{% static 'img/utils/construction-strip.gif' %}" class="img-fluid" style="width: 100%;" />

<h1 class="text-center mb-5">Put your content here!</h1>

{% endblock %}