<!-- templates/benefits.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center mb-5">How to apply for benefits and help in SF:</h1> 


<img src="{% static 'img/utils/construction-strip.gif' %}" class="img-fluid" style="width: 100%;" />
<div>
    <img src="{% static 'img/utils/under-construction.gif' %}" class="img-fluid" style="width: 25%; float: left;" />
    <img src="{% static 'img/utils/under-construction-sign.gif' %}" class="img-fluid mt-5 pt-4" style="width: 50%" />
    <img src="{% static 'img/utils/under-construction.gif' %}" class="img-fluid" style="width: 25%; float: right;" />
</div>
<img src="{% static 'img/utils/construction-strip.gif' %}" class="img-fluid mb-5" style="width: 100%;" />

{% comment %}Note for developers: to avoid redundancies please review info before plugging it into the database, {% endcomment %}

<div>
<h2>Food Stamps (CalFresh)</h2>
https://www.sfhsa.org/services/health-food/calfresh/applying-calfresh
<ul>
    <li>Online at GetCalFresh (English | Español)</li>
    <li>By phone at (415) 558-4700 to get your application started or for more information. You can also schedule an appointment for application assistance at 2EnrollMeSF.org.</li>
    <li>By fax at (415) 355-2300</li>
    <li>By mail at City and County of San Francisco, Department of Human Services, P.O. Box 7988, San Francisco, CA 94120-7988</li>
</ul>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
<h2>CAAP (Welfare)</h2>
CAAP provides up to $588 a month and other benefits for services including employment training and placement, free MUNI pass, and counseling.
https://www.sfhsa.org/services/jobs-money/county-adult-assistance-programs-caap
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
<h2>Medi-Cal</h2>
https://www.sfhsa.org/services/health-food/medi-cal
<p>On sfhsa’s Medi-Cal portal you can:</p>
    <ul>
        <li>Check Your Medi-Cal Eligibility</li>
        <li>Apply for Medi-Cal</li>
        <li>Select a Medi-Cal Health Care Plan</li>
        <li>Renew Your Medi-Cal Coverage</li>
    </ul>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
https://www.sfhsa.org/services/jobs-money/calworks/applying-calworks
<p>
<strong>CalWORKs</strong> provides temporary assistance and support to families with (or expecting) children. Benefits include cash assistance, food, child care, and health care coverage. CalWORKs also provides job and education assistance and other services, even after leaving the program.
</p>

<p>How to apply</p>
<p><strong>By phone: Call (415) 557-5100.</strong></p>
<p><strong>Online: Visit us at www.MyBenefitsCalWIN.org.</strong></p>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<div>
<h2>Free and Discounted Benefits for HSA Program Recipients</h2>
https://www.sfhsa.org/free-or-discounted-services-and-hsa-program-recipients#legal  Take advantage of the many free or discounted services available throughout the City to HSA recipients. In most cases, you'll just need to show your EBT card to get your discount or fee waiver. Free or discounted services on this page:
<ul>
    <li>Free Diapers</li>
    <li>Food, Meals + Entertainment</li>
    <li>Legal + Identification</li>
    <li>Museums + Recreation</li>
    <li>Transportation</li>
    <li>Utilities</li>
</ul>
</div>

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>File for Unemployment Benefits in CA online:</h2>
https://edd.ca.gov/Unemployment/Filing_a_Claim.html or
By phone from 8am to 12pm 1-800-300-5616
You will need to provide your personal information and your:
Last employer information including company name, supervisor’s name, address (mailing and physical location) and phone number.
Last date worked and the reason you are no longer working.
Gross earnings in the last week you worked, beginning with Sunday and ending with your last day of work.
Information on all employers you worked for during the past 18 months, including name, address (mailing and physical location), the dates of employment, gross wages earned, hours worked per week, hourly rate of pay, and the reason you are no longer working.
Notice to Federal Employees About Unemployment Insurance, Standard Form 8 (former federal employees only).
DD 214 Member 4 copy (ex-military only).
Citizenship status, and, if you are not a US citizen, information from your employment authorization document.

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>How To Apply for Disability in California</h2>
https://www.ssa.gov/benefits/disability/
online at the SSA's website ssa.gov,
telephone by calling the SSA's customer service: 1-800-772-1213,
or in-person at their local Social Security field office.
Consult the following checklist to find out exactly what you’ll need: 

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

https://www.ssa.gov/hlp/radr/10/ovw001-checklist.pdf

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

You can use the online application to apply for disability benefits if you:
Are age 18 or older.
Are not currently receiving benefits on your own Social Security record.
Are unable to work because of a medical condition that is expected to last at least 12 months or result in death; and
Have not been denied for disability in the last 60 days

Note: If your application was recently denied, our Internet Appeal application is a starting point to request a review of the determination we made.
You can now also file for Supplemental Security Income (SSI) online but only if you:
Are between the ages of 18 and 65.
Have never been married.
Are a U.S. citizen residing in one of the fifty states, District of Columbia, or the Northern Mariana Islands.
Haven’t applied for or received SSI benefits in the past; and
Are applying for Social Security Disability Insurance at the same time as your SSI claim.

Note that getting approved for long-term permanent Disability and SSI is a long and frustrating process; long, as in it often takes years to get approved from the day you first applied.  The general rule is that they deny pretty much everyone the first time they apply, and make you appeal. It might be a good idea to find a disability lawyer. They usually will take their fees from the settlement if/when they win your case. 

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

Bay Area Legal Aid - Working Together for Justice | Home Page - https://baylegal.org/
LEGAL ADVICE LINE - 800-551-5554
1800 Market Street, 3rd Floor, San Francisco, CA 94102 Local #: (415) 982-1300

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>Housing</h2>

SF Housing Resource Guide: https://sfmohcd.org/san-francisco-housing-resource-guide


<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

San Francisco Rental Assistance Program Information Line at (415) 557-6484 


<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>Public Housing and Housing Choice Vouchers (Section 8)</h2>
https://www.hud.gov/states/california/renting To apply for Section 8, visit your local Public Housing Agency (PHA). Some PHAs have long waiting lists, so you may want to apply at more than one PHA. Your PHA can also give you a list of locations at which your voucher can be used.


<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>Shelters / Cheap Accomodations</h2>

Traveler’s hostels are generally cheaper, temporary shared accomodations; you need to have a passport from another country or out-of-state ID. To search for a hostel, check out https://www.hostelworld.com/hostels/San-Francisco. 

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

Adult Shelter System provides short‐term emergency shelter for up to 90 days to adults experiencing homelessness in San Francisco. The current adult shelter system has 1,203 shelter beds for adults over the age of 18.  To access shelter, visit this link and create a profile on the shelter reservation sites provided: https://hsh.sfgov.org/services/shelter/emergencyshelter/

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>Catholic Charities SF Homeless services:</h2>
https://www.catholiccharitiessf.org/what-we-do/homelessness-housing/

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>Dolores Street Community Services</h2>
Dolores Street Community Services serves the Mission and Castro neighborhoods with a variety of programs, including shelter, housing and immigration services.
http://dscs.org
938 Valencia St., San Francisco 415-282-6209
Resources for homeless and at-risk youth in san francisco

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>Larkin Street Youth Services:</h2>
https://larkinstreetyouth.org/ 
HQ and Administration
134 Golden Gate Avenue
San Francisco, CA 94102
Phone: (415) 673-0911

Larkin Street provides a robust continuum of wraparound care to help young people get off the streets for good, including outreach/engagement services, health/wellness, housing, education and employment. All of our services are tailored to meet young people where they’re at, making our programs easy to get into and hard to fall out of, with the ultimate goal of helping young people develop the knowledge and skills needed for independent adulthood. For a list of programs and resources we can help you access, go to https://larkinstreetyouth.org/what-we-do/our-programs/
Need help now? Call (800) 669-6196
For Homeless Youth in the Haight/Ashbury neighborhood:
Homeless Youth Alliance
https://www.homelessyouthalliance.org/

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>For Homeless and At-Risk Families:</h2>

Compass Family Services
https://www.compass-sf.org/

Hamilton Families
Hamilton Families is San Francisco’s leading service provider to families experiencing homelessness, with an array of highly effective programs at sites in San Francisco and Oakland. Our Housing and Family Services department—encompassing the Shelter Program, Transitional Housing Program, Housing Services, and Real Estate programs—provides the best-in-class housing services experience to families in our programs.
https://www.hamiltonfamilies.org/programs

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>For Homeless and At-Risk Seniors:</h2>

Curry Senior Center
Curry Senior Center provides health and social services to homeless and low-income San Francisco seniors. Services include health care, counseling, housing, meals, and socialization.
http://curryseniorcenter.org
333 Turk St., San Francisco
info@curryseniorcenter.org
415-292-1064

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>Health/Mental Health Services/primary care:</h2>
Tom Waddell Urban Health Clinic https://sfhealthnetwork.org/primary-care-3/tom-waddell-urban-health-clinic/
HealthRight 360 has primary care doctors, dentists, counseling, psychiatrists, and addiction recovery services. https://www.healthright360.org/ 
Haight Ashbury Free Clinics - medical care for those with no insurance https://www.healthright360.org/agency/haight-ashbury-free-clinic
1563 Mission Street : +1 (415) 746-1940
After Hours: +1 (415) 746-1940

Walden House - Inpatient Drug and Alcohol Recovery Treatment
San Francisco: +1 (415) 762-3705

<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

<h2>Free Massage(!!): </h2>
<h2>Care Through Touch Institute:</h2>
The Care Through Touch Institute accompanies, comforts and empower homeless and marginally housed people through free seated massage therapy and a compassionate supportive presence. Healing touch combined with a loving presence inspires hope, restores a sense of dignity and empowers both the volunteer and recipient to aspire to a healthier, safer, more just and caring way of being with oneself, in community, and in the world.
 
<img src="{% static 'img/utils/divider_red_wide.png' %}" class="img-fluid" style="width: 100%;" />

http://carethroughtouch.org
240 Golden Gate Ave., No. 206, San Francisco
415-344-0302




{% endblock %}