<!-- templates/game.html -->
{% extends 'base.html' %}

{% block content %}
<div class="game_display">
    <p>Game will be displayed here</p>
</div>

<div class="controls row mt-2">
    <div class="col-3">
        <a href="{{ url_for('inventory')}}"><img src="static/images/backpack.png" alt="inventory button" width="100" height="100"
            style="margin-top: 3em; margin-left: 2em"></a>
        </div>
    <div class="col-5 center">
        <div class="row">
            <button type="button" class="btn btn-secondary">Strong Attack</button>
            <button type="button" class="btn btn-secondary">Weak Attack</button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-secondary">Flee</button>
            <button type="button" class="btn btn-secondary">Heal</button>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <button type="button" class="top"></button>
        </div>
        <div class="row">
            <button type="button" class="left"></button>
            <button type="button" class="right"></button>
        </div>
        <div class="row">
            <button type="button" class="bottom"></button>
        </div>
    </div>
</div>
{% endblock %}