<!-- templates/shelter_info.html -->
{% extends 'base.html' %}
{% from "partials/card_macro.html" import card with context %}
{% from "partials/under_construction.html" import under_construction with context %}

{% block content %}
<h1 class="text-center mb-5">Health/Mental Health Services</h1>

{{ under_construction() }}

<span class="fa fa-envira" role="img" aria-label="" aria-hidden="true">
<a href="https://www.betterhelp.com/"> Better Help</a>  <i class="fas fa-external-link-alt"></i>
</span>

<img src="{{ url_for('static', filename='img/utils/divider_red_wide.png') }}" class="img-fluid" style="width: 100%;" />

Tom Waddell Urban Health Clinic <a href="https://sfhealthnetwork.org/primary-care-3/tom-waddell-urban-health-clinic/">https://sfhealthnetwork.org/primary-care-3/tom-waddell-urban-health-clinic/</a>  <i class="fas fa-external-link-alt"></i>
HealthRight 360 has primary care doctors, dentists, counseling, psychiatrists, and addiction recovery services. <a href="https://www.healthright360.org/">healthright360.org</a>  <i class="fas fa-external-link-alt"></i>

<img src="{{ url_for('static', filename='img/utils/divider_red_wide.png') }}" class="img-fluid" style="width: 100%;" />

Haight Ashbury Free Clinics - medical care for those with no insurance <a href="https://www.healthright360.org/agency/haight-ashbury-free-clinic">healthright360.org/agency/haight-ashbury-free-clinic</a>  <i class="fas fa-external-link-alt"></i>
1563 Mission Street : +1 (415) 746-1940
After Hours: +1 (415) 746-1940

<img src="{{ url_for('static', filename='img/utils/divider_red_wide.png') }}" class="img-fluid" style="width: 100%;" />

Walden House - Inpatient Drug and Alcohol Recovery Treatment
San Francisco: +1 (415) 762-3705

<img src="{{ url_for('static', filename='img/utils/divider_red_wide.png') }}" class="img-fluid" style="width: 100%;" />

<h2>Free Massage(!!): </h2>
<h2>Care Through Touch Institute:</h2>
The Care Through Touch Institute accompanies, comforts and empower homeless and marginally housed people through free seated massage therapy and a compassionate supportive presence. Healing touch combined with a loving presence inspires hope, restores a sense of dignity and empowers both the volunteer and recipient to aspire to a healthier, safer, more just and caring way of being with oneself, in community, and in the world.
 
<img src="{{ url_for('static', filename='img/utils/divider_red_wide.png') }}" class="img-fluid" style="width: 100%;" />

<a href="http://carethroughtouch.org">carethroughtouch.org</a>  <i class="fas fa-external-link-alt"></i>
240 Golden Gate Ave., No. 206, San Francisco
415-344-0302


{% endblock %}
