<!-- templates/inventory.html -->
{% extends 'base.html' %}

{% block content %}
<div class="inventory_display">
    <h1 class="inventory_header">Inventory</h1>
    <div class="row">
        <button type="button" class="btn btn-info">
            <img src="static/images/backpack.png" alt="inventory button" width="50" height="50">
        </button>
        <button type="button" class="btn btn-info">item 2</button>
        <button type="button" class="btn btn-info">item 3</button>
        <button type="button" class="btn btn-info">item 4</button>
        <button type="button" class="btn btn-info">item 5</button>
        <button type="button" class="btn btn-info">item 6</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-info">item 1</button>
        <button type="button" class="btn btn-info">item 2</button>
        <button type="button" class="btn btn-info">item 3</button>
        <button type="button" class="btn btn-info">item 4</button>
        <button type="button" class="btn btn-info">item 5</button>
        <button type="button" class="btn btn-info">item 6</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-info">item 1</button>
        <button type="button" class="btn btn-info">item 2</button>
        <button type="button" class="btn btn-info">item 3</button>
        <button type="button" class="btn btn-info">item 4</button>
        <button type="button" class="btn btn-info">item 5</button>
        <button type="button" class="btn btn-info">item 6</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-info">item 1</button>
        <button type="button" class="btn btn-info">item 2</button>
        <button type="button" class="btn btn-info">item 3</button>
        <button type="button" class="btn btn-info">item 4</button>
        <button type="button" class="btn btn-info">item 5</button>
        <button type="button" class="btn btn-info">item 6</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-info">item 1</button>
        <button type="button" class="btn btn-info">item 2</button>
        <button type="button" class="btn btn-info">item 3</button>
        <button type="button" class="btn btn-info">item 4</button>
        <button type="button" class="btn btn-info">item 5</button>
        <button type="button" class="btn btn-info">item 6</button>
    </div>

    </div>
    
    <div class="controls row mt-3">
        <a href="{{ url_for('gameplay') }}"><button type="button" class="btn btn-secondary">Exit Inventory</button></a>
        <button type="button" class="btn btn-secondary">Use Item</button>
        <button type="button" class="btn btn-secondary">Un/Equip Item</button>
        <button type="button" class="btn btn-secondary">Inspect Item</button>
        <button type="button" class="btn btn-secondary">Sell Item</button>
    </div>

{% endblock %}