<!-- templates/shelter_info.html -->
{% extends 'base.html' %}
{% from "partials/card_macro.html" import card with context %}
{% from "partials/under_construction.html" import under_construction with context %}

{% block content %}
<h1 class="text-center mb-5">Legal Help In SF</h1>

{{ under_construction() }}

{{ card(
    'Bay Area Legal Aid - Working Together for Justice',
    'NEED TO FIND INFORMATION FORM THIS SITE',
    'https://baylegal.org/',
    'LEGAL ADVICE LINE - 800-551-5554 or local #: (415) 982-1300',
    '1800 Market Street, 3rd Floor, San Francisco, CA 94102 ',
) }}

{{ card(
    'The Bar Association of San Francisco Lawyer Referral and Information Services',
    'NEED TO FIND INFORMATION FORM THIS SITE',
    'https://www.sfbar.org/lris/online-referral/',
    '',
    '',
) }}

{{ card(
    'Know Your Rights',
    'Know Your Rights Stopped by Police by ACLU.org NEED TO FIND INFORMATION FORM THIS SITE',
    'https://www.aclu.org/know-your-rights/stopped-by-police/',
    '',
    '',
) }}

{% endblock %}