<!-- templates/resources.html -->
{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-5">Local Resources in San Francisco!</h1>
<center>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
    <h2>
<span class="fa fa-envira" role="img" aria-label="" aria-hidden="true">
<a href="{{ url_for('health') }}">Health</a>
</span>
</h2>
</li>
<br><br>
<li class="list-group-item">
<span class="fa fa-money" role="img" aria-label="" aria-hidden="true">
<a href="{{ url_for('benefits') }}">Benefits</a>
</span>
</li>
<br><br>
<li class="list-group-item">
<span class="fa fa-home" role="img" aria-label="" aria-hidden="true">
<a href="{{ url_for('shelters') }}">Shelters</a>
</span>
</li>
<br><br>

<li class="list-group-item">
<span class="fas fa-drumstick-bite" role="img" aria-label="" aria-hidden="true">
<a href="{{ url_for('food') }}">Food</a>
</span>
</li>
<br><br>
<li class="list-group-item">
<a href="{{ url_for('legal') }}">Legal Help</a>
</li>
<br><br>
</center>

{% endblock %}