<!-- templates/shelter_info.html -->
{% extends 'base.html' %}
{% from "partials/card_macro.html" import card with context %}
{% from "partials/under_construction.html" import under_construction with context %}

{% block content %}
<h1 class="text-center mb-5">Shelters & Housing Info</h1>

{{ under_construction() }}

{{ card(
    'SF Housing Resource Guide',
    'San Francisco Rental Assistance Program Information',
    'https://sfmohcd.org/san-francisco-housing-resource-guide',
    '(415) 557-6484',
) }}

{{ card(
    'Public Housing and Housing Choice Vouchers (Section 8)',
    'To apply for Section 8, visit your local Public Housing Agency (PHA). Some PHAs have long waiting lists, so you may want to apply at more than one PHA. Your PHA can also give you a list of locations at which your voucher can be used.',
    'https://www.hud.gov/states/california/renting',
    '',
) }}

{{ card(
    'Shelters / Cheap Accomodations',
    'Traveler’s hostels are generally cheaper, temporary shared accomodations; you need to have a passport from another country or out-of-state ID. To search for a hostel, ',
    'https://www.hostelworld.com/hostels/San-Francisco',
    '',
) }}

{{ card(
    'Dolores Street Community Services',
    'Dolores Street Community Services serves the Mission and Castro neighborhoods with a variety of programs, including shelter, housing and immigration services for homeless and at-risk youth in san francisco 938 Valencia St., San Francisco',
    'http://dscs.org',
    '415-282-6209',
) }}

{{ card(
    'Compass Family Services',
    'For Homeless and At-Risk Families: Hamilton Families is San Francisco’s leading service provider to families experiencing homelessness, with an array of highly effective programs at sites in San Francisco and Oakland. Our Housing and Family Services department—encompassing the Shelter Program, Transitional Housing Program, Housing Services, and Real Estate programs—provides the best-in-class housing services experience to families in our programs. https://www.hamiltonfamilies.org/programs',
    'https://www.compass-sf.org/',
    '',
) }}

{{ card(
    'Curry Senior Center',
    'For Homeless and At-Risk Seniors: Curry Senior Center provides health and social services to homeless and low-income San Francisco seniors. Services include health care, counseling, housing, meals, and socialization. info@curryseniorcenter.org 333 Turk St., San Francisco',
    'http://www.curryseniorcenter.org',
    '415-292-1064',
) }}

{{ card(
    'Adult Shelter System',
    'Adult Shelter System provides short‐term emergency shelter for up to 90 days to adults experiencing homelessness in San Francisco. The current adult shelter system has 1,203 shelter beds for adults over the age of 18. To access shelter, visit this link and create a profile on the shelter reservation sites provided: emergency shelter info',
    'https://hsh.sfgov.org/services/shelter/emergencyshelter/',
    '',
) }}

{{ card(
    'Catholic Charities SF Homeless services:',
    '',
    'https://www.catholiccharitiessf.org/what-we-do/homelessness-housing/',
    '',
) }}

{{ card(
    'Larkin Street Youth Services:',
    'Larkin Street provides a robust continuum of wraparound care to help young people get off the streets for good, including outreach/engagement services, health/wellness, housing, education and employment. All of our services are tailored to meet young people where they’re at, making our programs easy to get into and hard to fall out of, with the ultimate goal of helping young people develop the knowledge and skills needed for independent adulthood. For a list of programs and resources we can help you access, 

    HQ and Administration
    134 Golden Gate Avenue
    San Francisco, CA 94102
    Phone: (415) 673-0911',
    'https://larkinstreetyouth.org/',
    '(800) 669-6196',
) }}

{% endblock %}